.ecom-card {
    width: 30rem;
    height: 50rem;

}

.ecom-img {
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.ribbon{
    position: absolute;
    background-color: var(--accent-color);
    color: var(--secondary-white);
    border-radius: 0 5px 0 0;
    padding: 0.3rem 0.6rem;
    top: 0;
    right: 0;
}
