.addressCard{
    background: var(--prime-blue-lt);
    padding: 2rem;
    width: 70%;
    border-radius: 0.5rem;
    margin: 0.5rem;
}

.addressCard:hover{
    cursor: pointer;
    transform: scale(1.05);
}


.defAddress{
    font-size: 0.9rem;
    background: var(--success-color);
    color: var(--secondary-white);
    font-weight: 400;
    padding: 0.3rem;
    border-radius: 5px;
}


