.cartAndSummary{
	display: flex;
	margin: 1rem;
	flex-wrap: wrap;
	justify-content: center;
}

.productContainer{
	height: 80vh;
	width: 100%;
}

.cartContainer{
	display: flex;
	flex-direction: column;
	gap: 1rem;
	width: 50%;
	min-width: 60rem;
	justify-content: center;
	align-items: center;
}

.cartSummary{
	width: 50%;
	min-width: 300px;
	height: auto;
	font-size: 1.5rem;

}

.coupon {
	padding: 4rem;
}

.orderBtn{
	display: flex;
	justify-content: space-between;
}
