.card {
	border: 1px solid var(--bg-one);
	display: flex;
	border-radius: 10px;
	width: 50rem;
}

.ecom-img {
	border-radius: 10px;
}

.desc{
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.productCount{
	font-weight: bolder;
	font-size: 2rem;
	padding: 1rem;
}

