.products{
    display: flex;
}

.product-container {
    gap: 10px;
}

.product-listing {
    margin: 1rem;
    flex-grow: 1;
}

.mobFilters{
    display: block;
    padding: 1rem;
    border: 1px solid black;
    margin: 2rem;
}

.dropDownBTN{
    padding: 1rem;
    background: transparent;
    cursor: pointer;
}



@media only screen and (max-width: 992px) {
.products{
    display: block;
}
.mobFilters{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}
}
