.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
}

.popup-main {
  display: flex;
  flex-direction: column;
  position:fixed;
  background: white;
  width: 90%;
  height: auto;
  top:17%;
  left:50%;
  transform: translate(-50%,-50%);
  padding: 2rem;
  border-radius: 0.5rem;
  gap: 0.5rem;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.btnGroup{
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.btnContainer{
  display: flex;
  justify-content: end;
}

.closeButton{
  background: transparent;
  cursor: pointer;
}

.closeButton:hover{
  color: var(--primary-color);
}


.linkPills{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


@media only screen and (min-width: 992px) {
.modal{
  display: none;
}
}
