@import url('../../variable.css');
@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@600&display=swap');
.lsuitify-navbar{
    display: flex;
    justify-content: space-around;
    height: 10vh;
    border-bottom: 1px solid;
}
.menuButton{
    background: transparent;
    display: none;
}


.heroLogo{
    font-size: 5em;
    font-family: 'Saira Condensed', sans-serif;
}

.accessLink{
    display: flex;
    align-items: center;
    gap: 3rem;
}

.profileLink{
    display: flex;
    align-items: center;
    gap: 1rem;
}

#demo{
    display: none;
 }

@media only screen and (max-width: 992px) {
 .heroLogo{
    font-size: 3rem;
    font-family: 'Saira Condensed', sans-serif;
}
.menuButton{
    background: transparent;
    display: flex;
    cursor: pointer;
}
}
